{% extends "index.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <h1 style="margin: 20px">Groups</h1>

    <table class="table table-dark table-striped">
        <tr style="">
            <th scope="col">Name</th>
            <th scope="col">Direction</th>
            <th scope="col">Location</th>
            <th scope="col">Price</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        {% for group in groups %}
            <tr>
                <td>{{ group.groups_name }}</td>
                <td>{{ group.direction }}</td>
                <td>{{ group.location_school }}</td>
                <td>{{ group.price }}</td>
                <td>
                    <a href="{% url "groups:update_group" group.pk %}"
                       type="button" class="btn btn-success">Edit</a>
                </td>
                <td>
                    <a href="{% url "groups:delete_group" group.pk %}"
                       type="button" class="btn btn-danger">Delete</a></td>


            </tr>
        {% endfor %}
    </table>
{% endblock %}