{% extends "index.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <h1 style="margin: 20px">Groups</h1>
    {% if groups %}
        <table class="table table-dark table-striped">
            <tr style="">
                <th scope="col">Name</th>
                <th scope="col">Direction</th>
                <th scope="col">Location</th>
                <th scope="col">Price</th>
                <th scope="col">Teaching staff</th>
            </tr>
            {% for group in groups %}
                <tr>
                    <td>{{ group.groups_name }}</td>
                    <td>{{ group.direction }}</td>
                    <td>{{ group.location_school }}</td>
                    <td>{{ group.price }}</td>

                    <td>
                        <a href="{% url "groups:group_teacher_list_view" group.pk %}"
                           type="button" class="btn btn-warning">Get group</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        {% if request.GET.first_name or request.GET.last_name or request.GET.email %}
            <h2 style="margin-top: 10px; color: white;">No results found.</h2>
        {% else %}
            <h2 style="margin-top: 10px; color: crimson;">No results found.</h2>
        {% endif %}
    {% endif %}
{% endblock %}