{% load static %}
<a class="nav-link active" aria-current="page" href="{% url "index" %}" style="text-decoration: none; color:black; text-align: center">
    <h1>Invalid data, tap to the picture </h1>
<img src="{% static 'images/wrong_data.jpg' %}" alt="" style="display: block; margin: 0 auto; width: 80%; height: auto;">
</a>
