{% extends "index.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <h1 style="margin: 20px">Teachers</h1>
    <div style="margin-bottom: 40px">
        <form method="get" style="width: 25em; margin: 30px 0 auto auto">
            <div class="input-group mb-3">
                <input type="submit" value="Search" class="btn btn-outline-secondary">
                <input type="text" class="form-control" name="searchField">
            </div>
        </form>
    </div>
    {% if teachers %}
        <table class="table table-dark table-striped">
            <tr style="">
                <th scope="col"></th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Birth date</th>
                <th scope="col">Age</th>
                <th scope="col">Date now add</th>
                <th scope="col">Current country</th>
                <th scope="col">Email</th>
                <th scope="col">Edit</th>
                <th scope="col">Look group</th>
                <th scope="col">Delete</th>
            </tr>
            {% for teacher in teachers %}
                <tr>
                    {% if teacher.avatar %}
                        <td><img src="{{ teacher.avatar.url }}" alt="Avatar" style="height: 50px"></td>
                    {% else %}
                        <td>No avatar</td>
                    {% endif %}
                    <td>{{ teacher.first_name }}</td>
                    <td>{{ teacher.last_name }}</td>

                    <td>{{ teacher.birth_date }}</td>
                    {% if teacher.birth_date %}
                        <td>{{ teacher.calculate_age }}</td>
                    {% else %}
                        <td>No correct birth date</td>
                    {% endif %}
                    <td>{{ teacher.date_now_add }}</td>
                    <td>{{ teacher.current_country }}</td>
                    <td>{{ teacher.email }}</td>
                    <td>
                        <a href="{% url "teachers:update_teacher" teacher.pk %}"
                           type="button" class="btn btn-success">Edit</a>
                    </td>
                    <td>
                        <a href="{% url 'groups:teacher_group_list_view' pk=teacher.pk %}"
                           type="button" class="btn btn-warning">Get</a>
                    </td>
                    <td>
                        <a href="{% url "teachers:delete_teacher" teacher.pk %}"
                           type="button" class="btn btn-danger">Delete</a>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        {% if request.GET.first_name or request.GET.last_name or request.GET.email %}
            <h2 style="margin-top: 10px; color: white;">No results found.</h2>
        {% else %}
            <h2 style="margin-top: 10px; color: crimson;">No results found.</h2>
        {% endif %}
    {% endif %}
{% endblock %}
