{% extends "index.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <h1 style="margin: 20px">Students</h1>
    <div style="margin-bottom: 40px">
        <form method="get" style="width: 25em; margin: 30px 0 auto auto">
            <div class="input-group mb-3">
                <input type="submit" value="Search" class="btn btn-outline-secondary">
                <input type="text" class="form-control" name="searchField">
            </div>
        </form>
    </div>
    {% if students %}
        <table class="table table-dark table-striped">
            <tr style="">
                <th scope="col"></th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Email</th>
                <th scope="col">Birth date</th>
                <th scope="col">Age</th>
                <th scope="col">Grade</th>
                <th scope="col">Group</th>
                <th scope="col">Edit</th>
                <th scope="col">Resume</th>
                <th scope="col">Delete</th>
            </tr>
            {% for student in students %}
                <tr>
                    {% if student.avatar %}
                        <td><img src="{{ student.avatar.url }}" alt="Avatar" style="height: 50px"></td>
                    {% else %}
                        <td>No avatar</td>
                    {% endif %}

                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.birth_date }}</td>
                    {% if student.birth_date %}
                        <td>{{ student.calculate_age }}</td>
                    {% else %}
                        <td>No correct birth date</td>
                    {% endif %}

                    {% if student.grade %}
                        <td>{{ student.grade }}</td>

                    {% else %}
                        <td>No information</td>
                    {% endif %}
                    {% if student.group %}
                        <td>{{ student.group }}</td>

                    {% else %}
                        <td>No information</td>
                    {% endif %}
                    <td>
                        <a href="{% url "students:update_student" student.pk %}"
                           type="button" class="btn btn-success">Edit</a>
                    </td>
                    {% if student.resume %}
                        {% if student.resume.url|slice:"-4:" == ".pdf" %}
                            <td><a href="{{ student.resume.url }}" target="_blank" type="button"
                                   class="btn btn-info">Open PDF</a></td>
                        {% else %}
                            <td><a href="{{ student.resume.url }}" download type="button"
                                   class="btn btn-info">Download</a></td>
                        {% endif %}
                    {% else %}
                        <td>No resume</td>
                    {% endif %}
                    <td>
                        <a href="{% url "students:delete_student" student.pk %}"
                           type="button" class="btn btn-danger">Delete</a>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        {% if request.GET.first_name or request.GET.last_name or request.GET.email %}
            <h2 style="margin-top: 10px; color: white;">No results found.</h2>
        {% else %}
            <h2 style="margin-top: 10px; color: crimson;">No results found.</h2>
        {% endif %}
    {% endif %}
{% endblock %}


