{% extends "index.html" %}
{% block content %}
    <div>
        <h2>Confirm Delete</h2>
        <p>Are you sure you want to delete this student?</p>
        <form method="post" style="width: 25em; margin: auto">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete anyway</button>
            <a href="{% url 'students:get_student' %}" class="btn btn-secondary">No</a>
        </form>
    </div>
{% endblock %}
