{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <h1>You are not authorized to perform these actions, please register or log in to your account</h1>
    </div>
{% endblock %}