{% load static %}
<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Cover Template · Bootstrap v5.1</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <!-- Bootstrap core CSS -->
    <link href={% static "css/cover.css" %} rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        #my-link {
            color: white;
        }

        #my-link:hover {
            color: #6c757d;
        }


    </style>


    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
</head>
<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <a href="{% url 'index' %}" id="my-link">
                <h3 class="float-md-start mb-0">
                    My LMS
                </h3>
            </a>


            <nav class="nav nav-masthead justify-content-center float-md-end">
                {% if user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="{% url "index" %}"
                       style="margin-right: 1em">Home</a>


                    <div class="flex-shrink-0 dropdown" style="margin-right: 1em;">
                        <a href="#" class="nav-link d-block link-dark text-decoration-none dropdown-toggle"
                           id="dropdownUser2"
                           data-bs-toggle="dropdown" aria-expanded="false" aria-current="page">Student
                        </a>
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                            <li><a class="dropdown-item" href="{% url 'students:get_student' %}">Students</a></li>
                            <li><a class="dropdown-item" href="{% url 'students:create_student' %}">Create new
                                student</a>
                            </li>
                        </ul>
                    </div>

                    <div class="flex-shrink-0 dropdown" style="margin-right: 1em;">
                        <a href="#" class="nav-link d-block link-dark text-decoration-none dropdown-toggle"
                           id="dropdownUser2"
                           data-bs-toggle="dropdown" aria-expanded="false" aria-current="page">Teacher
                        </a>
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                            <li><a class="dropdown-item" href="{% url "teachers:get_teacher" %}">Teachers</a></li>
                            <li><a class="dropdown-item" href="{% url "teachers:create_teacher" %}">Create new
                                teacher</a>
                            </li>
                        </ul>
                    </div>


                    <div class="flex-shrink-0 dropdown" style="margin-right: 1em;">
                        <a href="#" class="nav-link d-block link-dark text-decoration-none dropdown-toggle"
                           id="dropdownUser2"
                           data-bs-toggle="dropdown" aria-expanded="false" aria-current="page">Group
                        </a>
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                            <li><a class="dropdown-item" href="{% url "groups:get_group" %}">Groups</a></li>
                            <li><a class="dropdown-item" href="{% url "groups:create_group" %}">Create new Group</a>
                            </li>
                        </ul>
                    </div>
                {% else %}
                {% endif %}

                <div class="flex-shrink-0 dropdown">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        {% if user.is_authenticated and user.avatar %}
                            <img src="{{ user.avatar }}" alt="mdo" width="32" height="32"
                                 class="rounded-circle">
                        {% else %}
                            <img src="{% static 'images/user_logo.png' %}" alt="mdo" width="32" height="32"
                                 class="rounded-circle">
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        {% if user.is_authenticated %}
                            <li>
                                <h6 class="dropdown-item">{{ user.first_name|title }} {{ user.last_name|title }}</h6>
                            </li>
                            <li>
                                <hr class="dropdown-devider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'main:profile' user.pk %}">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Change password</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li>
                                <hr class="dropdown-devider">
                            </li>
                            <li><a class="dropdown-item" href="{% url "main:logout" %}">Log out</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{% url "main:login" %}">Log in</a></li>
                            <li><a class="dropdown-item" href="{% url "main:registration" %}">Registration</a></li>
                            <li><a class="dropdown-item" href="#">Reset password</a></li>
                            <li>
                                <hr class="dropdown-devider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'social:begin' 'google-oauth2' %}">Registration
                                with Google</a></li>
                            <hr class=" dropdown-devider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'social:begin' 'github' %}">Registration with
                                GitHub</a>
                            </li>
                            <hr class=" dropdown-devider">
                            <li><a class="dropdown-item" href="{% url 'social:begin' 'gitlab' %}">Registration with
                                Gitlab</a>
                            </li>
                            <hr class=" dropdown-devider">
                            <li><a class="dropdown-item" href="{% url 'social:begin' 'linkedin-oauth2' %}">Registration with
                                LinkedLn</a>
                            </li>
                            </li>
                        {% endif %}
                    </ul>
                </div>

            </nav>
        </div>
    </header>

    <main class="px-3">
        {% block content %}
            <img src="https://assets.ithillel.ua/Hillel-Logo-Organization.png" alt="" style="width: 50%">
        {% endblock %}
    </main>

    <footer class="mt-auto text-white-50">
        <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a
                href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
    </footer>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>


</body>
</html>
