{% extends "index.html" %}
{% load static %}
{% block content %}

    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>First Name:</strong> {{ user.first_name }}</p>
    <p><strong>Last Name:</strong> {{ user.last_name }}</p>
    <p><strong>Avatar:</strong>
        {% if user.avatar %}
            <img src="{{ user.avatar.url }}" alt="Avatar" style="height:50px; border-radius: 50px">
        {% else %}
            <td>No avatar</td>
        {% endif %}</p>
    <p><strong>Phone Number:</strong> {{ user.phone_number }}</p>
    <p><strong>User Type:</strong> {{ user.get_user_type_display }}</p>
    <p><strong>Location:</strong> {{ user.location }}</p>
    <p><strong>Company:</strong> {{ user.company }}</p>
    <p><strong>Higher Education:</strong> {{ user.higher_education }}</p>

    <a href="{% url "main:update_user" user.pk %}"
       type="button" class="btn btn-success">Edit</a>

{% endblock %}
