{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <form method="post" style="width: 25em; margin: auto" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-success" value="Registration">Registration</button>
        </form>
    </div>
{% endblock %}
